*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("../images/bg3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#outer{
    height: 300px;
    width: 400px;
    background-color: lightblue;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
    padding-top: 20px;
    margin-top: 150px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 10px grey;
}
h1{
    font-size: 25px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
#text{
    height: 45%;
    width: 95%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}
button{
    height: 50px;
    width: 100px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: bisque;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}
button:hover{
    transform: scale(1.05);
    background-color: cadetblue;
    color: bisque;
}
